input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar-default {
    background-color: #337ab7;
    color: #fff;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

p.navbar-text.pull-right
{
    margin-right: 5px;
}

p.navbar-text.pull-left
{
    margin-left: 2px;
}

p.navbar-text.pull-left.extra-margin-left
{
    margin-left: 20px;
}


.list-group-item{
    border-style: hidden;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.99;
    z-index: 5;
}

.v-divider{
    position: absolute;
    top:0;
    bottom: 0;
    left: 33%;
    width:1px;
    background-color: gray;
    z-index: 100;
}

.no-underline{
    text-decoration: none;

}

.no-underline:hover{
    text-decoration: none;
}


.page-widget-header-footer {
    background-color: #F0F1FA;
}

.white-glyphicon{
    color:white;
}

.black-glyphicon{
    color: black;
}

.navbar-default .navbar-brand.page-widget-header-brand {
    color:gray;
}

.btn-align-left
{
    text-align: left;
}

.btn-no-underline{
    text-decoration: none;
}

.btn-no-underline:hover{
    text-decoration: none;
}

.glyphicon-btn
{
    border: 0px;
    background-color: #337ab7;
    padding: 0px;
}

.glyphicon-btn-page
{
    border: 0px;
    background-color: #F0F1FA;
    padding: 0px;
}

.left-scroll {
    position: absolute;
    overflow-x: hidden;
    overflow-y:  scroll;
    top: 0;
    bottom: 0;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 29.5%;
}

.left-scroll-parent {
    position: inherit;
}

.body-scroll{
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    width : 98%;
    top: 0;
    bottom: 0;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wam-white-bg {
    background-color: white !important;
}

.input-group-margin {
    margin-bottom: 5px;
}

.ng-submitted.ng-invalid .formFieldErrorMsg{
    color: red;
    margin-bottom: 10px;
}

.ng-submitted .ng-invalid{
    background-color: #f2dede;
    border-radius: 4px;
}

.searchButton {
    margin-top: 5px;
}